<div class="row">
	<div class="span2">&nbsp;</div>
	<div class="span8">
		<div class="hero-unit">
			<h1>
				KRISTIAN ØLLEGAARD
			</h1>
			<p>
				Python developer, System Administrator and Mac user
			</p>
			<p>
				<a target="_blank" href="https://www.github.com/KristianOellegaard/" class="btn"><i class="icon-share-alt"></i> GitHub</a>
				<a target="_blank" href="https://twitter.com/oellegaard" class="btn"><i class="icon-share-alt"></i> Twitter</a>
				<a target="_blank" href="http://www.linkedin.com/in/kristianoellegaard" class="btn"><i class="icon-share-alt"></i> LinkedIn</a>
				<a href="mailto:km@oellegaard.com" class="btn btn-inverse"><i class="icon-envelope icon-white"></i> Get in touch</a>
			</p>
		</div>
	</div>
	<div class="span2">&nbsp;</div>
</div>